* {
    box-sizing: border-box;
  }
  
  body{
    font-family: "Open Sans", sans-serif;
    font-weight: normal;
    font-family: sans-serif;
    margin-top: 5%;
    margin-bottom: 50px;
    padding-left: 10%;
    padding-right: 10%;
}

.main-head{
    text-align: center;
    font-weight: 900;
    font-size: 40px;
    font-family: poppins;
}